<x-component-def name="home">
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <x-component name="head_common" />
            <x-component name="agbalumo_font_import" />
            <title>Little Chef - Home</title>
        </head>
        <body class="bg-black">
            <x-component name="layout">
                <x-insert>
                    <div class="w-full py-2 px-2">
                        <x-component name="top_bar" />
                    </div>
                    <div class="w-full px-2 flex-1 flex flex-col overflow-y-scroll">
                        <div class="py-2 mb-3">
                            <h1 class="text-3xl font-agbalumo text-[#01B269]">Little Chef</h1>
                        </div>
                        <div class="space-y-4 flex-1">
                            <x-component name="food_card">
                                <x-insert>
                                    <img src="https://images.pexels.com/photos/8969237/pexels-photo-8969237.jpeg" alt="Turkish Chicken Kebabs" class="object-cover" />
                                </x-insert>
                            </x-component>
                            <x-component name="food_card">
                                <x-insert>
                                    <img src="https://images.pexels.com/photos/2641886/pexels-photo-2641886.jpeg" alt="Turkish Chicken Kebabs" class="object-cover" />
                                </x-insert>
                            </x-component>
                            <x-component name="food_card">
                                <x-insert>
                                    <img src="https://images.pexels.com/photos/3789885/pexels-photo-3789885.jpeg" alt="Turkish Chicken Kebabs" class="object-cover" />
                                </x-insert>
                            </x-component>
                            <x-component name="food_card">
                                <x-insert>
                                    <img src="https://images.pexels.com/photos/842571/pexels-photo-842571.jpeg" alt="Turkish Chicken Kebabs" class="object-cover" />
                                </x-insert>
                            </x-component>
                            <x-component name="food_card">
                                <x-insert>
                                    <img src="https://images.pexels.com/photos/2664216/pexels-photo-2664216.jpeg" alt="Turkish Chicken Kebabs" class="object-cover" />
                                </x-insert>
                            </x-component>
                        </div>
                    </div>
                </x-insert>
            </x-component>
        </body>
    </html>
</x-component-def>
