<x-component-def name="large_title">
    <h1 class="%tw-text-classes% text-[34px]/[41px]">
        <x-slot name="default" />
    </h1>
</x-component-def>

<x-component-def name="title_1">
    <h1 class="%tw-text-classes% text-[28px]/[34px]">
        <x-slot name="default" />
    </h1>
</x-component-def>

<x-component-def name="title_2">
    <h2 class="%tw-text-classes% text-[22px]/[28px]">
        <x-slot name="default" />
    </h2>
</x-component-def>

<x-component-def name="title_3">
    <h3 class="%tw-text-classes% text-[20px]/[25px]">
        <x-slot name="default" />
    </h3>
</x-component-def>

<x-component-def name="headline">
    <h4 class="%tw-text-classes% text-[17px]/[22px]">
        <x-slot name="default" />
    </h4>
</x-component-def>

<x-component-def name="body">
    <p class="%tw-text-classes% text-[17px]/[22px]">
        <x-slot name="default" />
    </p>
</x-component-def>

<x-component-def name="callout">
    <p class="%tw-text-classes% text-[16px]/[21px]">
        <x-slot name="default" />
    </p>
</x-component-def>

<x-component-def name="subheadline">
    <h5 class="%tw-text-classes% text-[15px]/[20px]">
        <x-slot name="default" />
    </h5>
</x-component-def>

<x-component-def name="footnote">
    <p class="%tw-text-classes% text-[13px]/[18px]">
        <x-slot name="default" />
    </p>
</x-component-def>

<x-component-def name="caption_1">
    <p class="%tw-text-classes% text-[12px]/[16px]">
        <x-slot name="default" />
    </p>
</x-component-def>

<x-component-def name="caption_2">
    <p class="%tw-text-classes% text-[11px]/[13px]">
        <x-slot name="default" />
    </p>
</x-component-def>
