<x-component-def name="home">
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <x-component name="head_common" />
            <title>Little Chef - Home</title>
        </head>
        <body>
            <x-component name="layout">
                <x-insert name="default">
                    <div class="flex w-full flex-col">
                        <div class="px-2 py-2">
                            <x-component name="top_bar" />
                        </div>
                        <div class="flex-1 flex flex-col overflow-y-auto">
                            <div class="px-2 py-2 mb-3">
                                <h1 class="text-3xl font-agbalumo text-[#01B269]">Little Chef</h1>
                            </div>
                            <div class="px-2 space-y-4 flex-1">
                                <x-component name="food_card">
                                    <x-insert name="default">
                                        <img src="https://images.pexels.com/photos/8969237/pexels-photo-8969237.jpeg" alt="Turkish Chicken Kebabs" class="object-cover h-56 min-w-full" />
                                    </x-insert>
                                </x-component>
                                <x-component name="food_card">
                                    <x-insert name="default">
                                        <img src="https://images.pexels.com/photos/2641886/pexels-photo-2641886.jpeg" alt="Turkish Chicken Kebabs" class="object-cover h-56 min-w-full" />
                                    </x-insert>
                                </x-component>
                                <x-component name="food_card">
                                    <x-insert name="default">
                                        <img src="https://images.pexels.com/photos/3789885/pexels-photo-3789885.jpeg" alt="Turkish Chicken Kebabs" class="object-cover h-56 min-w-full" />
                                    </x-insert>
                                </x-component>
                                <x-component name="food_card">
                                    <x-insert name="default">
                                        <img src="https://images.pexels.com/photos/842571/pexels-photo-842571.jpeg" alt="Turkish Chicken Kebabs" class="object-cover h-56 min-w-full" />
                                    </x-insert>
                                </x-component>
                                <x-component name="food_card">
                                    <x-insert name="default">
                                        <img src="https://images.pexels.com/photos/2664216/pexels-photo-2664216.jpeg" alt="Turkish Chicken Kebabs" class="object-cover" />
                                    </x-insert>
                                </x-component>
                            </div>
                        </div>
                    </div>
                </x-insert>
            </x-component>
        </body>
    </html>
</x-component-def>
