<x-component-def name="full_view_drawer">
    <dialog id="%x-slot%" class="fixed inset-y-0 right-0 w-full max-w-full h-full p-2 bg-black shadow-lg transform translate-x-full transition-transform duration-500 ease-in-out">
        <div class="flex justify-start mb-6">
            <button id="%x-slot%" class="text-gray-600 hover:text-gray-900 focus:outline-none rounded-full p-2 bg-[#1A1A1A] hover:bg-[#2F2F2F] transition-colors duration-200 z-10" aria-label="Go back">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                </svg>
            </button>
        </div>
        %x-slot%
    </dialog>
</x-component-def>
